.appContainer{
    margin-inline:auto;
    margin-top: 5rem;
    width: 400px;
    height: 400px;
    background-color:aliceblue;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}
.headerTitle{
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
}