.todoitems{
    font-family: "Roboto", sans-serif;
    background-color: #f9fbfc;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.itembtn{
    border: 0;
    color: red;
    background-color: #f9fbfc;  
    cursor: pointer;
    
}
.todoitems span {
    flex:1
}