.appContainer{
    font-size: larger;
    background-color: aqua;
    color: black;
}
.activeHeaderTitle{
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    color: aliceblue;
}
.inActiveHeaderTitle{
    font-size: medium;
    background-color: brown;
    color: green;
}
.headerTitle{
    background-color: azure;
    color: pink;
    font-size: 22px;
}
.pTitle{
    background-color: blue;
}